* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#gradient-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  --gradient-color-1: #150030;
  --gradient-color-2: #6b003b;
  --gradient-color-3: #0381b3;
  --gradient-color-4: #001d9e;
  z-index: -500;
}
